<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/style.css">
  <script src="../static/script.js" defer></script>
  <title> Online pc control </title>
</head>
<body>
  <div class="container">
    <div class="child">
      <div class="app-service" id="netflix" name="netflix"> <img src="../static/imgs/netflix-icon.png"> </div>
      <div class="app-service" id="edge"> <img src="../static/imgs/edge-icon.png"> </div>
      <div class="app-service" id="youtube"> <img src="../static/imgs/youtube-icon.png"> </div>
    </div>
  

    <div class="child">
      <div class="app-service" id="whatsapp"> <img src="../static/imgs/whatsapp-icon.png"> </div>
      <div class="app-service" id="spotify"> <img src="../static/imgs/spotify-icon.png"> </div>
      <div class="app-service" id="bing"> <img src="../static/imgs/bing-icon.png"> </div>
    </div>

    <div class="child">
      <div class="app-service" id="vs_code"> <img src="../static/imgs/vscode-icon.png"> </div>
      <div class="app-service" id="vs_2022"> <img src="../static/imgs/vs2022-icon.png"> </div>
      <div class="app-service" id="chatgpt"> <img src="../static/imgs/gpt-icon.png"> </div>
    </div>

    <div class="child">
      <div class="app-service" id="virtualbox"> <img src="../static/imgs/virtualbox-icon.png"> </div>
      <div class="app-service" id="configs"> <img src="../static/imgs/config-icon.png"> </div>
      <div class="app-service" id="calculadora"> <img src="../static/imgs/calculadora-icon.png"> </div>
    </div>
  </div>
</body>
</html>